* {
    margin: 0;
    padding: 0;
}

.center-all {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section {
    position: relative;
}


.white {
    color: white;
}

p {
    line-height: 24px;
    padding-bottom: 60px;
    font-size: 18px;
    font-weight: normal;
}


.heading-text {
    text-align: center;
    width: 570px;
    margin: auto;
    position: relative;
}

.first-title {
    padding-top: 150px;
    padding: 50px;
    font-size: 36px;
    font-weight: normal;
    line-height: 0;
}

.first-title-2 {
    padding: 150px 50px 50px;
    font-size: 36px;
    font-weight: normal;
    line-height: 0;
}

svg#Layer_1 {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

svg#Layer_3 {
    position: absolute;
    top: 0;
    left: 0;

}

/*
   =================================================================================
                                       body-section
   =================================================================================
*/
body,
.menu-section,
.slider-section {
    //width: 1920px;
    width: 100%;
}

body {}

@media only screen and(max-width:1920px) {
    nav {
        padding-left: 375px;
        padding-right: 375px;
    }
}

@media only screen and(max-width:1920px) {
    nav {}
}




/*
@media only screen and(width:1920px){
    body,.menu-section,.slider-section{
    width: 1920px;
}
}
@media only screen and(max-width:1920px){
    body,.menu-section,.slider-section{
    width: 100vh;
}
}
*/



/*
   =================================================================================
                                       menu-section
   =================================================================================
*/
.menu-section {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
}

/*---------nav-scroll-style-start--*/
.nav-scroll-primary {
    background: transparent;
}

.nav-scroll-secondary {
    background: rgba(0, 0, 0, 0.80);
}

/*---------nav-scroll-style-end--*/
nav {
    overflow: hidden;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
}

/*============brand==================*/
nav .brand {
    float: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

nav .brand img {
    width: 115px;
    height: 50px;
}

/*============menubar==================*/
nav .ul {
    float: right;
}

nav ul li {
    display: inline-block;
    padding: 50px 15px;
    z-index: 9999 !important;
    border-bottom: 3px solid transparent;
}

nav ul li:hover {
    border-bottom-color: #FEC600;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 900;
    color: white;
    letter-spacing: 1px;
    z-index: 9999;
}

nav ul li:hover a {
    color: #FEC600;
}

.border-center {
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    height: 1px;
    width: 100%;
    background: rgba(254, 198, 0, 0.20);
    z-index: 0;
}

/*==============collapse================*/

/*
   =================================================================================
                                       slider-section
   =================================================================================
*/
.slider-section {
    height: 100vh;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    background-image: url(../img/bg/Image%20Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}


/*==============slider================*/
.slider-section .slider {
    width: 100%;
    height: 100%;
    position: relative;
}

/*-------slider-icon secton------*/
.slider .slider-icon-section {
    width: 100%;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    z-index: 99;
}

/*-----------toggle--------------*/
.slider .prev,
.slider .next {
    font-size: 40pt;
    position: relative;
    overflow: hidden;
}

.slider .slider-icon-section .prev:hover,
.slider .slider-icon-section .next:hover {
    color: yellow;
}

.slider .prev {
    float: left;
    margin-left: 60px;
}

.slider .next {
    float: right;
    margin-right: 60px;
}

.slider .slider-icon-section i {
    position: relative;
}

/*-------slider-content secton------*/
.slider-content {
    text-align: center;
}

.first-title-slide {
    padding-top: 130px;
    font-size: 36px;
    font-weight: normal;
    line-height: 0;
    color: white;
}

.second-title-slide {
    font-size: 55px;
    color: #FEC600;
    padding-top: 22px;
    padding-bottom: 30px;
}

.slider-content .slider-btn {
    padding: 16px;
    border: 1px solid white;
    color: white;
    background: none;
    font-weight: bold;
    font-size: 18px;
    margin: 10px;
}

.slider-content .slider-btn:hover {
    border: 1px solid #FEC600;
    color: black;
    background: #FEC600;
}

/*
   =================================================================================
                                       about-us-section
   =================================================================================
*/


/*---------about us heading part------------------*/

.about-us {
    background: white;
    //background: red;
}




/*-----------about us circle design part----------------*/

.about-us .design {
    position: relative;
    padding: 440px 0;
    overflow: hidden;
}

.about-us .img-cover {
    padding: 15px;
    position: relative;
    float: left;
}

.about-us .design .img {
    float: left;
    position: relative;
    padding: 15px;
    border-radius: 50%;
    border: 1px solid black;
}

.about-us .design .img img {
    width: 320px;
    height: 320px;
    border-radius: 50%;
}

/*------circle--------*/

.about-us .design .circle {
    padding: 10px;
    background: #444444;
    border-radius: 50%;
    position: absolute;
    z-index: 99999;
}

.about-us .design .circle:hover {
    background: #FEC600;
}

/*----circle side----*/

.about-us .design .circle-top {
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-us .design .circle-bottom {

    left: 50%;
    bottom: -1%;
    transform: translate(-50%, -50%);
}

.about-us .design .circle-right {
    top: 50%;
    right: -1%;
    transform: translate(-50%, -50%);
}

.about-us .design .circle-left {

    top: 50%;
    transform: translate(-50%, -50%);

}

/*--circle content top---*/
.about-us .design .content-top {
    position: absolute;
    bottom: 100%;
    transform: translateX(-50%);
    min-width: 370px;
    min-height: 225px;
    background-image: url(../img/about/Background%20Shape.png);
    background-repeat: no-repeat;
    background-size: 100%;


}


/*--circle content bottom---*/
.about-us .design .content-bottom {
    position: absolute;
    overflow: hidden;
    top: 100%;
    transform: translateX(-50%);


    min-width: 370px;
    min-height: 225px;
    background-image: url(../img/about/bottom%20Background%20Shape.png);
    background-repeat: no-repeat;
    background-size: 100%;

}

/*--circle content right---*/
.about-us .design .content-right {
    position: absolute;
    overflow: hidden;
    left: 100%;
    transform: translateY(-50%);


    min-width: 385px;
    min-height: 210px;
    background-image: url(../img/about/right%20Background%20Shape.png);
    background-repeat: no-repeat;
    background-size: 100%;

}

/*--circle content left---*/
.about-us .design .content-left {
    position: absolute;
    overflow: hidden;
    right: 100%;
    transform: translateY(-50%);


    min-width: 385px;
    min-height: 210px;
    background-image: url(../img/about/left%20Background%20Shape.png);
    background-repeat: no-repeat;
    background-size: 100%;

}

/*--------content inner-------*/

.about-us .design .circle-title-content {
    position: inherit;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.about-us .design .circle-title-content .content-body {
    margin: 37px 30px;
    text-align: center;
}

/**/
/*
   =================================================================================
                                       out-porlfolio-section
   =================================================================================
*/


.out-porlfolio {
    //min-height: 1155px;
    //height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    background-image: url(../img/ourPortfollo/Tauhid%20sajib%20-%20Fotolia_87677925_M%20copy.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    overflow: hidden;

    padding-bottom: 150px;
}

.out-porlfolio design {}

.out-porlfolio .img-body {
    position: relative;
    width: 1200px;
    margin: auto;
    overflow: hidden;
    column-count: 4;
    column-gap: 30px;
}

.out-porlfolio .img-body .img-box {
    float: left;
    margin: 15px 0;
    position: relative;
}

.out-porlfolio .img-body img {
    //float: left;
    //margin: 15px;
}

/*
   =================================================================================
                                      OurService-section
   =================================================================================
*/
.OurService {
    background: white;
    //height: 500px;
    //height: 100vh;
    position: relative;
}

.ourserviceDesignCover {
    //background: green;
    height: 780px;
    margin: 0 0 50px 0;
    position: relative;
}

.vln {
    border-right: 1px dashed black;
    height: 780px;
    width: 0;
    margin: auto;
    position: relative;
}

/*------------top bottom icon---------*/
.btn-up {
    background: black;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-down {
    background: black;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translate(-50%, -50%);
}

.upp {
    color: white;
    font-weight: normal;
    font-size: 30pt;
}

.upp:hover {
    color: #FEC600;
}

/*-----block-------*/
.block-ln {
    width: auto;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.block {
    background: #EEEEEE;
    width: 70px;
    height: 70px;
    //overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block img {
    width: 45px;
    height: auto;
}

.block-1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.block-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.block-3 {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.block:hover {
    background: #FEC600;
    width: 100px;
    height: 100px;
    transition: all 0.2s;
}

.block:hover img {
    width: 60px;
    transition: all 0.2s;
}

.os-content-right {
    background-image: url(../img/ourService/right-Shape.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 485px;
    height: 220px;
    padding-left: 15px;
    position: absolute;
    top: 50%;
    left: 150%;
    transform: translateY(-50%);
}

.os-content-left {
    background-image: url(../img/ourService/left-Shape.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 485px;
    height: 220px;
    padding-right: 15px;
    position: absolute;
    top: 50%;
    right: 150%;
    transform: translateY(-50%);
}

.os-txt {
    font-size: 18pt;
    font-weight: normal;
    text-transform: uppercase;
}

.os-txt-right {
    width: 485px;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 150%;
    transform: translateY(-50%);
}

.os-txt-left {
    width: 485px;
    text-align: right;
    position: absolute;
    top: 50%;
    right: 150%;
    transform: translateY(-50%);
}

.os-c-p {
    height: 100%;
    padding: 60px 30px;
    font-size: 15pt;
}

/*
   =================================================================================
                                       testimonial-section
   =================================================================================
*/
.testimonial {
    height: 950px;
    //height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    background-image: url(../img/testimonial/hard-work-with-a-book-picjumbo-com.png);
    background-repeat: no-repeat;
    background-size: cover;
    //background-size: 100%;
    background-blend-mode: overlay;
    padding-top: 190px;
    padding-bottom: 190px;
    padding-left: 440px;
}

.testimonial .os-content-right {
    background: none;
    float: left;
    background-image: url(../img/testimonial/Shape.png);
    background-repeat: no-repeat;
    width: 585px;
    height: 341px;
}

.ts-vln .os-content-right h3 {
    font-size: 20pt;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.ts-vln .os-content-right h4 {
    font-size: 16pt;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

.ts-vln .os-content-right p {
    margin-top: 30px;
}

.ratting {
    color: #FEC600;
}

.ts-vln {
    border-right: 1px dashed black;
    width: 0;
    height: 100%;
    position: relative;
}

.testimonial .ts-vln .block {
    background: white;
}

.testimonial .ts-vln .block:hover {
    background: #FEC600;
}

.testimonial .ts-vln .block img {
    width: 100%;
}

/*
   =================================================================================
                                       pricing-plan-section
   =================================================================================
*/
.pricingPlan {

    background: white;
    height: auto;
    overflow: hidden;

    //inline css
    padding-bottom: 150px;
    position: relative;
}

.pp-content-cover {
    position: relative;
    margin-top: 60px;
}

/*-------pricing plan box------------*/
.pp-content {
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pp-content,
.pp-content .content-box {
    height: 450px;
}

.pp-content .content-box {
    background: #F1F1F1;
    width: 370px;
    margin: 15px;
    display: inline-block;
    position: relative;
}

/*-------pricing plan box circle------------*/
.pp-content .content-box .pp-circle {
    padding: 5px;
    background: white;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle-content {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #444444;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.circle-content .circle-txt {
    text-align: center;
}

.circle-content h4 {
    font-size: 29px;
    font-weight: normal;
}

.circle-content h5 {
    font-size: 12px;
    font-weight: normal;
}

/*-------pricing plan box body text------------*/
.pp-body b {
    display: block;
    font-weight: normal;
    line-height: 30px;
}

.pp-body {
    margin-top: 65px;
    text-align: center;
}

/*-------------pp-svg---------------*/

.ppSvgTopTxt {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20pt;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.ppSvgtop {
    position: relative;
}

.ppSvgBttm {
    bottom: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ppSvgBttm .ppSvgBttmTxt {
    position: absolute;
    font-size: 16pt;
    color: white;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

/*----------------hover-----------*/
.pp-content .content-box:hover .circle-content {
    background: #FEC600;
    color: #222222;
    transition: 0.2s;
}

.pp-content .content-box:hover .pp-circle {
    border-color: #FEC600;
}

.pp-content .content-box:hover .ppSvgBttm .ppSvgBttmTxt,
.pp-content .content-box:hover .ppSvgTopTxt {
    color: #222222;
}

.pp-content .content-box:hover .ppSvgtop path,
.pp-content .content-box:hover .ppSvgBttm path {
    fill: #FEC600;
    transition: 0.2s;
}

/*
   =================================================================================
                                      contact-us -section
   =================================================================================
*/

.contact-us {
    background: rgba(0, 0, 0, 0.9);
    background-image: url(../img/contact/Tauhid%20sajib%20-%20shutterstock_199107920.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    color: white;
    height: 280px;
    //padding-top: 100px;
    position: relative;
}

.contact-us .middle {
    padding: 5px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: rotate(-3deg);
}

.contact-us .middle .m-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1100px;
}

.contact-us .c-c-box {
    //display: inline;
    float: left;
    margin: 15px;
    border: 1px solid white;
    padding: 30px 45px;
    overflow: hidden;
    text-align: center;
    transform: skewX(-3deg);
}

.c-c-box-cover {
    transform: rotate(3deg);
    font-weight: none;
}

.c-c-box-h {
    position: relative;
}

.c-c-box-b {
    position: relative;
}

#contact-svg {
    position: absolute;
    top: 0;
    left: 0;

}

/*
   =================================================================================
                                       our-team-section
   =================================================================================
*/
.our-team {
    background: white;
    height: 665px;
    //height: 100vh;
}

/*-----------box-design-part----------*/
.our-team .ot-design {
    display: flex;
    justify-content: center;
    //align-items: center;
}

/*-----------box-----------*/
.ot-design .box {
    width: 270px;
    min-height: 350px;
    margin: 0 15px;
    background: white;
    border: 1px solid #DDDDDD;
    position: relative;
    display: inline-table;
}

.zoom {
    visibility: hidden;
}

.zoom .btnZoom {
    box-sizing: content-box;
    font-size: 18pt;
    padding: 10px;
    background: white;
    border-radius: 50%;
}

.ot-design .box .imgSvgBox {
    position: relative;
}

.ot-design .box .imgSvgBox svg {
    position: absolute;
    bottom: 0;
    right: 0;
}

.ot-design .box img {
    width: 100%;
    max-height: 270px;
}

.ot-design .box .imgDetailsBox {
    background: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.ot-design .box .imgDetailsBox h4 {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.ot-design .box .imgDetailsBox h5 {
    font-size: 16px;
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
}

/*--------------socials----------*/
.ot-design .box .imgDetailsBox .socials {
    //visibility: hidden;
    display: none;
}

.ot-design .box .imgDetailsBox .social {
    display: inline-block;
    //margin: 12.5px;
    margin: auto;
}

.ot-design .box .imgDetailsBox .social .socialFab {
    font-size: 18px;
    padding: 8px;
    box-sizing: content-box;
    color: #444444;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
}

/*---------hover----*/
.ot-design .box:hover .zoom {
    visibility: visible;
}

.ot-design .box:hover .imgSvgBox {
    background: #FEC600;
}

.ot-design .box:hover img {
    opacity: 0.5;
}

.ot-design .box:hover .imgDetailsBox .socials {
    //visibility: visible;    
    display: inherit;
}

.ot-design .box .imgDetailsBox .social .socialFab:hover {
    background: #FEC600;
    border-color: #FEC600;
    transition: 0.2s;
}

/*
   =================================================================================
                                       poweredBy-section
   =================================================================================
*/
.poweredBy {
    height: 300px;
    background-color: #F1F1F1;
}

/*
   =================================================================================
                                       logoBar-section
   =================================================================================
*/
.logoBar {
    background: #222222;
    //min-height: 200px;
}

.logoBar .imgBox {
    width: 115px;
    margin: auto;
}

.logoBar img {
    width: 115px;
    height: 51px;
}

.logoBar hr {
    margin-top: 50px;
    margin-bottom: 50px;
    transform: rotateZ(-3deg);
}

/*
   =================================================================================
                                      info-section
   =================================================================================
*/
.info {
    //height: 300px;
    background: #222222;
    position: relative;
    display: flex;
    justify-content: center;
}

.info .contactColomn {
    display: inline-grid;
    min-height: 50px;
    width: 200px;
    margin: 5px;
    font-family: Raleway;
    border-right: 1px solid #555555;
    padding-right: 60px;
    margin-right: 30px;
    box-sizing: content-box;
}

.info .contactColomn .infoico {
    width: 35px;
    height: 35px;
    color: #353535;
    background: #FEC600;
    border-radius: 50%;
    font-size: 20px;
    padding: 10px;
    box-sizing: content-box;
    margin: auto;
    margin-bottom: 15px;
}

.info .contactColomn p {
    line-height: normal;
    padding-bottom: 11px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    color: white;
}

/*
   =================================================================================
                                       footer-section
   =================================================================================
*/
footer {
    position: relative;
    height: 155px;
    background: #444444;
    color: white;
    font-size: 13pt;
    font-family: lato;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h6 {

    font-size: 13pt;
}

footer abbr {
    text-decoration: none;
    color: #FEC600;
}

/*
   =================================================================================
                                       follow-section
   =================================================================================
*/
.follow{
    position: relative;
    background: #222222;
    color: white;
    padding: 60px 0 30px 0;
    //display: flex;
   //justify-content: center;
}
.follow h4{
    font-family: Raleway;
    font-size: 20pt;
    text-transform: uppercase;
    text-align: center;
}

/*--------------socials----------*/
.follow .socials {
    width: 450px;
    margin: auto;
    padding:30px;
    display: flex;
    justify-content: center;
}

.follow .social {
    display: inline-block;
    //margin: 12.5px;
    margin: auto;
}

.follow .social .socialFab {
    font-size: 18px;
    padding: 8px;
    box-sizing: content-box;
    color: #444444;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
    
    
    width: 35px;
    height: 35px;
    margin: auto;
}

.follow .social .socialFab:hover {
    background: #FEC600;
    border-color: #FEC600;
    transition: 0.2s;
}
/*
   =================================================================================
                                       -section
   =================================================================================
*/
/* CSS pseudo-element styling */

/* general reset/setup styling for icons - needed on all */
.icon::before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

/* defining the right font-family/font-face for each style */
.icon-solid::before,
.icon-regular::before,
.icon-light::before {
    font-family: "Font Awesome 5 Pro";
}

.icon-brand::before {
    font-family: "Font Awesome 5 Brands";
}

/* defining the right weight for each style */
.icon-solid::before {
    font-weight: 900;
}

.icon-regular::before {
    font-weight: 400;
}

.icon-light::before {
    font-weight: 300;
}

.icon-brand::before {
    font-weight: 400;
}

/* defining the right unicode values for each icon */
.icon-award::before {
    content: "\f559";
}

.icon-adobe::before {
    content: "\f778";
}


/* duotone icons follow a similar setup, but require use of the ::after pseudo-element and more styling setup */
.icon-duotone {
    position: relative;
    padding-left: 1.25em;
    /* make space for the width of the absolutely positioned icon */
}

.icon-duotone::before,
.icon-duotone::after {
    font-family: "Font Awesome 5 Duotone";
    font-weight: 900;

    /* position both layers of the icon to the left, set our fixed-width width, horizontally center layers, and then vertically align them so they flex with different line heights */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1.25em;
    text-align: center;
}

.icon-duotone::before {
    color: var(--fa-primary-color, inherit);
    opacity: 1;
    opacity: var(--fa-primary-opacity, 1.0);
}

.icon-duotone::after {
    color: var(--fa-secondary-color, inherit);
    opacity: var(--fa-secondary-opacity, 0.4);
}

/* we need to define the two layers of a duotone icon */
.icon-duotone.icon-award::after {
    content: "\10f559";
}

.icon-duotone.icon-award::before {
    content: "\f559";
}


/* demo styling */
* {
    /* resetting the box model for all elements */
    box-sizing: border-box;
}

.demo-frame {
    /* making a nice frame/layout for examples */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: -1rem;
    padding: 3rem;
    min-height: 100vh;
    color: rgb(52, 58, 64);
}

.demo-example {
    /* individual demo example styling */
    margin-bottom: 1rem;
}

.demo-icon-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.demo-icon {
    margin: 0;
    padding: 1.5rem 1rem;
}

.icon::before {
    margin-right: 0.5rem;
}
